/target/classes
/target/generated-sources
/target/generated-test-resources
/target/javadoc-bundle-options
/target/m2e-wtp
/target/maven-archiver
/target/maven-status
/target/surefire
/target/test-classes
/target/wijnhuis.radelicki.katja
/target
